# Fichiers de build
dist/
node_modules/

# Environnements
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Tests
coverage/

# Images générées
uploads/
output/
*.png
*.jpg
*.jpeg

# OS
.DS_Store
Thumbs.db
